body 
    /*css - Cascade style sheet (каскадные таблицы стилей) позволяют применять оформление к отдельным дискрипторам или же ко всем дискрипторам
            страници или множества страниц или множеству страниц.
        Локальные стиле применяются абсолютно к любому дискриптору при помощи атрибута style у них наивысший приоритет
            стили могут быть описаны в заголовке страници (Head) при помощи дескриптора (style) в таком случае эти стиле могут быть применены на текущейс странице.
        Если
            есть необходимость применять один и тот же набор стиле срау на нескольких страница то они должны быть описаны в отдельном файле
        */
body

{
    font-size: 24px;
    font-family: Roboto Condensed;
    /*font-family:"Segoe UI", Verdana, Geneva, Tahoma, sans-serif*/
}

p {
    text-align: justify;
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-weight: 300;

}